@import "syntax-variables";

atom-text-editor, :host {
  background-color: @syntax-background-color;
  color: @syntax-text-color;
}

atom-text-editor .gutter, :host .gutter {
  background-color: @syntax-gutter-background-color;
  color: @syntax-gutter-text-color;
}

atom-text-editor .gutter .line-number.cursor-line, :host .gutter .line-number.cursor-line {
  background-color: @syntax-gutter-background-color-selected;
  color: @syntax-gutter-text-color-selected;
}

atom-text-editor .gutter .line-number.cursor-line-no-selection, :host .gutter .line-number.cursor-line-no-selection {
  color: @syntax-gutter-text-color-selected;
}

atom-text-editor .wrap-guide, :host .wrap-guide {
  color: @syntax-wrap-guide-color;
}

atom-text-editor .indent-guide, :host .indent-guide {
  color: @syntax-indent-guide-color;
}

atom-text-editor .invisible-character, :host .invisible-character {
  color: @syntax-invisible-character-color;
}

atom-text-editor .search-results .marker .region, :host .search-results .marker .region {
  background-color: @light-blue;
  border: @syntax-result-marker-color;
}

atom-text-editor .search-results .marker.current-result .region, :host .search-results .marker.current-result .region {
  border: @syntax-result-marker-color-selected;
}

atom-text-editor.is-focused .cursor, :host(.is-focused) .cursor {
  border-color: @syntax-cursor-color;
}

atom-text-editor.is-focused .selection .region, :host(.is-focused) .selection .region {
  background-color: @syntax-selection-color;
}

atom-text-editor.is-focused .line-number.cursor-line-no-selection, atom-text-editor.is-focused .line.cursor-line, :host(.is-focused) .line-number.cursor-line-no-selection, :host(.is-focused) .line.cursor-line {
  background-color: @very-light-gray;
}

.comment {
  color: @red;
}

.string {
  color: @green;
}

.constant.numeric {
  color: @pink;
}

.constant.language {
  color: @pink;
}

.constant.character, .constant.other {
  color: @pink;
}

.variable {
}

.keyword {
  color: @blue;
}

.storage {
  color: @blue;
}

.storage.type {
  font-style: italic;
  color: @orange;
}

.entity.name.class {
  text-decoration: underline;
  color: @teal;
}

.entity.other.inherited-class {
  font-style: italic;
  text-decoration: underline;
  color: @black;
}

.entity.name.function {
  color: @teal;
}

.variable.parameter {
  font-style: italic;
  color: @black;
}

.entity.name.tag {
  color: @blue;
}

.entity.other.attribute-name {
  color: @orange;
}

.support.function {
  color: @cyan;
}

.support.constant {
  color: @pink;
}

.support.type, .support.class {
  color: @black;
}

.support.other.variable {
}

.invalid {
  color: @very-light-gray;
  background-color: @red;
}

.invalid.deprecated {
  color: @very-light-gray;
  background-color: @purple;
}
