// These colors are specific to the theme. Do not use in a package!

@very-very-light-gray: #F8F8F8;
@very-light-gray: #e5e5e5;
@light-gray: #cccccc;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;

@cyan: #8abeb7;
@blue: #81a2be;
@purple: #b294bb;
@green: #b5bd68;
@red: #cc6666;
@orange: #de935f;
@light-orange: #f0c674;

@teal: #006666;
@pink: #cc0099;
@brown: #cc6600;
@light-blue: #b7d5ef;
@cherry-red: #ff0000;
@navy-blue: #0000ff;
@forest-green: #009900;
@white: #ffffff;
@black: #000000;
